<?xml version="1.0" encoding="UTF-8"?>

<suite name="Lancome Automation Suite" verbose="1" parallel="false">

    <!-- 🔹 إعداد المتغيرات العامة (اختياري) -->
    <parameter name="siteURL" value="https://certwcs.ballarddesigns.com/?aka_bypass=5C73514EE7A609054D81DE61DD9CA3D6" />
    <parameter name="driverPath" value="C:\\Drivers\\chromedriver.exe" />

    <test name="Lancome Smoke Tests">
        <classes>
            <!-- ✅ التست الجديد اللي بنستخدمه الآن -->
            <class name="com.itg.training.lancome.tests.HomeTest" />
        </classes>
    </test>

</suite>
